@import '../styles/mixin';

.MyOrder{
    @apply w-full h-full p-4;

    .notice-board{
        @apply w-full h-full flex justify-center items-center bg-white;

        .content{
            @apply flex flex-col justify-between h-full py-16 px-6;
            .header-content{
                @apply flex gap-4 items-center justify-center;

                span{
                    @apply font-bold text-3xl;
                }
            }
            .body-content{
                @apply text-center;

                span{
                    @apply text-3xl font-normal;
                }
            }
        }
    }
    .card{
        @apply grid grid-cols-12 h-[500px] bg-[#f7f7f7]  shadow-md rounded-lg border gap-4 mb-4;

        .content{
            @apply col-span-9 h-full justify-between flex flex-col;

            .card-header{
                @apply border-b border-gray-200 p-4 flex justify-between items-center;
            }

            .card-body{
                @apply  px-8 py-4;
                .product-details{
                    @apply flex gap-4 w-full mb-4;
                }
            }
            .card-footer{
                @apply border-t border-gray-200 p-4 flex justify-between;
            }
        }

        .buttons{
            @apply col-span-3 flex flex-col justify-center gap-4 h-full items-center p-4;

            button{
                @apply text-nowrap;
            }
        }

        
    }
    @include for-desktop{
        @apply p-0;

        .card{
            .content{
                @apply col-span-12;
            }
    
            .buttons{
                @apply col-span-12 flex-row gap-4;
            }
        }
        
    }
    @include for-tablet{
        .card{
            .buttons{
                @apply flex-wrap;
            }
        }
    }
    
}

@keyframes growLine {
    from {
      height: 0;
    }
    to {
      height: 80px;
    }
  }
  
  .animate-growLine {
    animation: growLine 0.8s ease-in-out forwards;
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
  .animate-blink {
    animation: blink 1s infinite;
  }